header,  nav, main, footer {
    max-width: 75rem;
    margin: auto;
}



// Nav Starts Here
#hamburgerBtn {display: none;}
nav {
    position: static;
    transform: translateX(0);
    width: auto;
    div {display: none;}
    ul {
       font-size: .9rem;
        display: flex;
        margin: 0;
   
       
        
    }
    ul li a {
        border: none;
        padding-left: $gutter;
        padding-right: $gutter;
    }
   
} // End Nav


// Start Hotel Cards
#hotelCards {
    display: grid;
    grid-template-columns: 1fr 1fr;;
    section {
      grid-template-areas: 
      "photo name"
      "photo address"
      "photo phone";
    }
  } // End Hotel Cards