header, nav, main, footer {
    max-width: 75rem;
    margin: auto;
}

/* Navigation Start */



nav {
    button{display: none;}
    ul, ul.open {
        margin-left: 1vw;
        border: none;
        display: flex;
        justify-content: right;
        background-color: lighten($primaryColor, 20%);
    } // end ul
    ul li {
        border-radius: 1px;
    }
} // end nav

.allcards {
   
    section {
        flex-basis: calc(33.3333% - (($gutter*2)/3));
    }
}

footer div {
    display: grid;
    grid-template-columns: auto auto auto;
}