header {
    padding: 2rem $gutter;
    h1{
        font-size: 2rem;
    }
}



// Start Hotel Cards
#hotelCards {
    section {
      margin: 0;
      justify-content: left;
      grid-template-areas: 
      "photo name"
      "photo address"
      "photo phone";
    }
    
    h2{
    padding-left: .75rem;
    padding-bottom: 0;
      }
    address{
     padding-top: 1rem;
     padding-left: .75rem;
    }
   a {
    margin-left: .75rem;
   }
  } // End Hotel Cards