header {
    padding: 1rem $gutter;
    h1{
        font-size: 2rem;
    }
}

//Start Nav
nav ul {
    width: 250px;
    
} // end nav 










// Start Footer
footer div {
    display: grid;
    grid-template-columns: 1fr ;
   section.contact {
    display: flex;
    justify-content: center;
   } // end contact section

section.social {
   display: flex;
   justify-content: center;
   padding-bottom: 1.5rem; 
   
} // end social section

section.locations {
display: flex;

justify-content: center;
align-items: center;
address {
font-size: 1.5rem;
padding: 1.5rem;
} // end address
} // end locations section
} // end address

