header {
    padding: 2rem $gutter;
    h1 {
        font-size: 2rem;
    }
} // end of header

/* nav stuff goes here */
/*nav {
   
   ul {
    display: flex;
   } // end of ul
   ul li a {
    border: none;
   }
} // end ov nav */