$primaryColor: #19535F;
$secondaryColor: #93C6D6;
$tertiaryColor: #CBBF7A;
$tertiaryColor2: #FCF5EE;
$fontColor: #252523;

$menuColor: #19535F;

$defaultFont: 'Quicksand', sans-serif;
$logoFont: 'Righteous', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$mediumWeight: 500;
$semiBold: 600;
$boldWeight: 700;
$extraBold: 900;

$gutter: 16px;