$primaryColor: #0c0a3e;
$secondaryColor: #7d1e7b;
$tertiaryColor: #b23f61;
$tertiaryColor2: #f9564f;
$tertiaryColor3: #f4c678;
$fontColor: #252525;

$menuColor: #0c0a3e;

$defaultFont: 'Open Sans', sans-serif;
$brandFont: 'Quicksand', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$mediumWeight: 500;
$semiBold: 600;
$boldWeight: 700;

$gutter: 16px;