$primaryColor: #0A2239;
$secondaryColor: #839788;
$tertiaryColor: #EEE0CB;
$fontColor: #252523;

$menuColor: #EEE0CB;

$defaultFont: 'Roboto', sans-serif;
$logoFont: 'Abril Fatface', serif;
$lightWeight: 300;
$normalWeight: 400;
$mediumWeight: 500;
$semiBold: 600;
$boldWeight: 700;

$gutter: 16px;