$primaryColor: #4169e1;
$secondaryColor: #ff6b35;
$fontColor: #333333;

$defaultFont: 'Josefin Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$mediumWeight: 500;
$semiBoldWeight: 600;
$boldWeight: 700;

$gutter: 16px;

