$primaryColor: #525252;
$secondaryColor: hsl(326, 55%, 44%);
$fontColor: #525252;

$menuColor: #AD3278;

$logoFont: 'Montserrat Alternates', sans-serif;
$defaultFont: 'Roboto', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$mediumWeight: 500;
$semiBold: 600;
$boldWeight: 700;

$gutter: 16px;